.input {
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 80rem;
    /* text-align: center; */
}
:root {
    --borderWidth: 7px;
    --height: 24px;
    --width: 12px;
    --borderColor: #78b13f;
}

body {
    padding: 20px;
    /* text-align: center; */
}

.check {
    display: inline-block;
    transform: rotate(45deg);
    height: var(--height);
    width: var(--width);
    border-bottom: var(--borderWidth) solid var(--borderColor);
    border-right: var(--borderWidth) solid var(--borderColor);
}