.input {
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    background-color: #d29a55;
}

.input label {
    color : vlack;
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
}

.input input:focus {
    outline: none;
    border-color: #4f005f;
}
.header {
    text-align: center;
    color: black;
    background-color: #d29a55;
}

.Button {
    color:#404040;
    background-color: beige;
    border :3px solid black;
}

.Button:hover{
    background-color: #d29a55;
    color:black;
    border :3px solid black;
}

.a{
    text-decoration: none;
    color:#464646;
}
.a:hover{
    color: black;
    text-decoration: underline;
}