
.NavbarMain {
    background-color: #d29a55;
}

.heading{
    font-size: 23px;
    
}


.headings1 {
    font-size:17px;
    /* margin-left: 10px; */
    padding-left: 10px;
    padding-right: 10px;
}

.headings1:hover {
    color:black;
    background-color: beige;
    border-radius: 10px;
}

.Button {
    color:#404040;
    background-color: beige;
    border :1px solid black;
    margin-right: 20px;
}

.Button:hover{
    background-color: #F5F5CC;
    color:black;
    border :1px solid black;
}


.dropdown-container {
    width: 20px;
}